[submodule "x_nlohmann"]
	path = x_nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "x_crow"]
	path = x_crow
	url = https://github.com/CrowCpp/crow.git
[submodule "x_seed"]
	path = x_seed
	url = revisionist.lackname.space:git/scraper-seed.git
[submodule "x_spdlog"]
	path = x_spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "x_memory"]
	path = x_memory
	url = https://github.com/foonathan/memory
