[submodule "x_lexbor"]
	path = x_lexbor
	url = https://github.com/lexbor/lexbor
[submodule "x_nlohmann"]
	path = x_nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "x_pistache"]
	path = x_pistache
	url = https://github.com/pistacheio/pistache.git
