[submodule "x_lexbor"]
	path = x_lexbor
	url = https://github.com/lexbor/lexbor
[submodule "x_nlohmann"]
	path = x_nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "x_pistache"]
	path = x_pistache
	url = https://github.com/pistacheio/pistache.git
[submodule "x_crow"]
	path = x_crow
	url = https://github.com/CrowCpp/crow.git
[submodule "x_seed"]
	path = x_seed
	url = revisionist.lackname.space:git/scraper-seed.git
